form(method="POST" action="/new")
    h1='New Message Form'
    input(type="text" name='author' placeholder=`Name`)
    input(type="text" name='message' placeholder='Message')
    input(type="submit")